@import "{{ site.theme }}";

.wrapper {
  max-width: 1200px; /* 设置固定最大宽度 */
  width: 95%; /* 在小屏幕上使用百分比 */
}

header, section {
  max-width: 900px; // 原始值是 600px，你可以改成 1000px, 1200px, 或者 80% 
}

h2 {
  margin-top: 24px; /* 你可以调整 24px 来匹配其他标题的间距 */
}